body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 135%;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 0px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

a {
  color: #828586;
  text-decoration: underline;
}

ul {
  margin-top: 2px;
  margin-bottom: 0px;
  padding-left: 30px;
}

li {
  font-weight: 300;
}

.firstpage {
  display: block;
  border-radius: 25px;
  margin-left: 2%;
  margin-top: 6%;
  width: 30%;
  padding: 50px;
  background-color: #333;
  color: #9b9b9b;
}

input[type="text"], input[type="password"], input[type="email"] {
  display: block;
  /* margin: auto auto; */
  width: 100%;
  margin-bottom: 1em;
  padding: .5em 0;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}

input[type="date"] {
  display: block;
  margin-left: 0%;
  width: 150px;
  margin-bottom: .01em;
  padding: .5em 0;
  border: none;
  border-bottom: .1px solid #eaeaea;
  padding-bottom: .1em;
  color: #757575;
}

input[type="number"] {
display: block;
margin-left: 0%;
width: 150px;
margin-bottom: .01em;
padding: .01em 0;
border: none;
border-bottom: 1px solid #eaeaea;
padding-bottom: .05em;
color: #757575;
}

.message {
color: red;
text-align: center;
font-size: 20px;
}

.log {
width: 30%;
margin-left: 25%;
margin-top: 2%;
padding: 10px;
}

html {
  height: 100%;
  background-color: white
}

.header {
  display: flex;
  min-height: 75px;
}

.header-image {
  flex: 1;
  color: #9b9b9b;
  background-color: #333;
  text-align: center;
}

.header-title {
  flex: 3;
  color: #9b9b9b;
  background-color: #333;
  text-align: center;
}

.home {
  display: flex;
}

.column-1 {
  flex: 1;
  background-color: #333;
}

.left-nav {
  padding: 20px;
  background-color: #333;
  color: #9b9b9b;
  text-align: center;
}

.column-2 {
  flex: 3;
  background-color: white
}

.your-challenges {
  display: flex;
  flex-direction: column;
}

/* .weights {
background-image: url('/images/gym1main.jpg');
} */